* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	min-width: 100%;
}

.card {
	margin: 2rem;
}

.row {
	display: flex;
}
/* #box {
	position: absolute;
	z-index: 2;
} */
.container {
	flex-wrap: wrap;
	/* flex-direction: column; */
	/* align-items: flex-end; */
	/* width: min(80%, 1000px); */
	width: 100%;
	margin: 0 auto;
	justify-content: center;
}
.col {
	width: 50%;
}
.main__header {
	height: 10vh;
	background-color: #38ada9;
	color: #fff;
	text-align: center;
}

.main__header h1 {
	padding: 0.8em;
}

.main__body {
	min-height: 90vh;
	height: 200vh;
	background-color: #e4eefa;
}

.form-field__label,
.form-field__input {
	display: block;
}
