* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	min-width: 100%;
}

/* #box {
	position: absolute;
	z-index: 2;
} */
.container {
	width: min(80%, 1000px);
	margin: 0 auto;
	justify-content: center;
}
.col {
	width: 50%;
}
.main__header {
	/* height: 10vh; */
	height: 10vh;
	background-color: #38ada9;
	color: #fff;
	text-align: center;
}

.main__header h1 {
	padding: 0.8em;
}

.main__body {
	height: 90vh;
	background-color: #e4eefa;
}

.card {
	margin: 2rem;
}

.form-field__label,
.form-field__input {
	display: block;
}
