* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	min-width: 100%;
}

/* #box {
	position: absolute;
	z-index: 2;
} */

#calendar-btn {
	padding: 1em 2em;
	margin: 2em;
	position: absolute;
	/* position: absolute;
	z-index: 0; */
}
