/*============================================*/
/*              Selector Components           */
/*============================================*/

.mc-select {
	$root: &;

	&__month,
	&__year {
		display: flex;
		padding: 0 0.2em;
	}
	&__nav {
		position: absolute;
		text-decoration: none;
		color: $month-year-color;
		padding: 0 1em;
		@include for-desktop {
			#{$modal} & {
				position: relative;
			}
		}

		&--inactive {
			color: $inactive-date-color;
			cursor: default;
			&:active {
				transform: none !important;
			}
		}

		&--prev,
		&--next {
			transition: transform 0.2s ease-in-out;
		}
		&--prev {
			&:active {
				transform: translateX(-0.5em);
				// @include slide(true);
			}
			#{$inline} #{$root}__month &,
			& {
				left: 0;
			}
		}
		&--next {
			&:active {
				transform: translateX(0.5em);
				// @include slide(false);
			}
			#{$inline} #{$root}__month &,
			& {
				right: 0;
			}
		}

		#{$root}__year & {
			#{$inline} &,
			#{$permanent} &,
			& {
				display: none;
			}
			@include for-desktop {
				display: inline-block;
			}
		}
	}
	&__data {
		font-size: clamp(1rem, 8vw, 1.25rem);
		height: clamp(1rem, 8vw, 1.25rem);
		overflow: hidden;
		position: relative;

		span {
			text-align: center;
			position: absolute;
		}

		&--month {
			&,
			span {
				width: clamp(5rem, 40vw, 6.25rem);
			}
			#{$inline} & {
				&,
				span {
					width: 6.4rem;
				}
			}
		}

		&--year {
			&,
			span {
				width: clamp(3rem, 22vw, 3.5rem);
			}
			#{$inline} & {
				&,
				span {
					width: 3.2rem;
				}
			}
		}
	}
}
