/*============================================*/
/*                Date Components             */
/*============================================*/

.mc-date {
	$root: &;
	text-align: center;
	border-radius: 5px;
	font-weight: 300;
	width: calc(100% / 7);

	&--active {
		cursor: pointer;

		&#{$root}--today {
			background-color: $dark-bg-color;
		}
		&#{$root}--picked {
			color: #fff;
			background-color: $main-theme-color;
		}
	}

	&--inactive {
		color: $inactive-date-color;
		cursor: default;

		%colorShadow {
			color: $inactive-white-color;
			box-shadow: none;
		}
		&#{$root}--today {
			@extend %colorShadow;
			// border: 1px solid $inactive-date-color;
			box-shadow: 0 0 0 1px $inactive-date-color;
		}

		&#{$root}--picked {
			@extend %colorShadow;
			// border: 1px solid $inactive-picked-bg;
			box-shadow: 0 0 0 1px $inactive-picked-bg;
			color: $inactive-picked-bg;
		}
	}

	&--marked {
		color: $main-theme-color;
		font-weight: 500;
	}
}
