/*============================================*/
/*               Picker Components            */
/*============================================*/

.mc-picker {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: $main-bg-color;

	#{$modal} & {
		height: #{min(65vh, 400px)};
		border-radius: 30px 30px 0 0;
		@include for-desktop {
			justify-content: center;
			align-items: flex-end;
			height: 100%;
			width: 425px;
			border-radius: unset;
		}
	}

	#{$inline} & {
		border-radius: unset;
	}

	&__header {
		display: flex;
		font-size: 1.25rem;
		justify-content: center;
		padding: 1em 0 0.5em;
		color: $month-year-color;
		#{$modal} & {
			@include for-desktop {
				padding: 1em 0;
				justify-content: space-between;
			}
		}

		#{$inline} & {
			font-size: 1rem;
			padding: 1em 0 0.5em;
		}

		.icon-angle {
			height: clamp(1rem, 8vw, 1.25rem);
		}
	}

	&__body {
		height: 100%;
		width: 100%;
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		padding: 1em 0 2em;

		#{$inline} & {
			padding: 1em 0;
		}
	}
}
