/*============================================*/
/*               Picker Components            */
/*============================================*/

.mc-picker {
	display: flex;
	flex-direction: column;
	// height: #{min(65vh, 400px)};
	width: 100%;
	height: 100%;
	background-color: $main-bg-color;

	#{$modal} & {
		height: 65vh;
		max-height: 400px;
		border-radius: 30px 30px 0 0;
		@include for-desktop {
			justify-content: center;
			align-items: flex-end;
			height: 100%;
			width: 425px;
			border-radius: unset;
		}
	}

	#{$inline} & {
		border-radius: unset;
	}

	&__header {
		display: flex;
		font-size: 1.25rem;
		justify-content: center;
		padding: 1em 0;
		color: $month-year-color;

		#{$inline} & {
			font-size: 1rem;
			padding: 1em 0 0.5em;
		}
	}

	&__body {
		height: 100%;
		width: 100%;
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		padding: 1em 0 2em;

		#{$inline} & {
			padding: 1em 0;
		}
	}
}
