/*============================================*/
/*              Calendar Components           */
/*============================================*/
.mc-calendar {
	display: flex;
	flex-direction: column;
	font-family: $calendar-font;
	font-weight: 500;
	overflow: hidden;
	user-select: none;
	visibility: hidden;

	&--opened {
		visibility: visible;
	}

	&--inline {
		position: absolute;
		top: -100%;
		left: 50%;
		height: 325px;
		width: #{min(100%, 300px)};
		// width: 100%;
		// max-width: 300px;
		background: none;
		font-size: 1rem;
		box-shadow: none;
		border: 1px solid #c9c7c7;
		border-radius: 10px;
		z-index: 1002;

		@include for-desktop {
			transform: unset;
		}

		// &#{$opened} {
		// 	// top: 0;
		// 	// transform: translate(10%, 0);
		// 	// transition: transform 0.3s linear 0.3s, visibility 0s, top 0s;
		// }
	}

	&--modal {
		position: absolute;
		top: -100%;
		left: 50%;
		width: #{min(100%, 425px)};
		// width: 100%;
		// max-width: 425px;
		border-radius: 0 0 30px 30px;
		box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.25);
		background-color: $main-theme-color;
		z-index: 1002;
		transform: translate(-50%, #{min(-400px, -65vh)});
		// transform: translate(-50%, -400px);
		transition: transform 0.3s linear 0.3s, visibility 0s linear 0.5s, top 0s linear 0.5s;

		@include for-desktop {
			flex-direction: row;
			top: -100%;
			// visibility: hidden;
			width: auto;
			// max-width: 100%;
			height: 400px;
			border-radius: 10px;
			background-color: unset;
			box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
			opacity: 0;
			transform: translate(-50%, -50%) scale(0.9);
			transition: transform 0.3s, opacity 0.3s, visibility 0s linear 0.3s, top 0s linear 0.3s;
		}

		&#{$opened} {
			top: 0;
			transform: translate(-50%, 0);
			transition: transform 0.3s linear 0.3s, visibility 0s, top 0s;

			@include for-desktop {
				top: 50%;
				opacity: 1;
				visibility: visible;
				transform: translate(-50%, -50%) scale(1);
				transition: transform 0.3s, opacity 0.3s, visibility 0s, top 0s linear 0s;
			}
		}
	}
	&--permanent {
		// width: #{min(100%, 425px)};
		width: 100%;
		height: 100%;
	}
}
