/*============================================*/
/*                    Layout                  */
/*============================================*/

.mc-container {
	position: relative;
	margin: 0 auto;
	width: 90%;
}
