/*============================================*/
/*                    Layout                  */
/*============================================*/

.container {
	&-m,
	&-s {
		position: relative;
		margin: 0 auto;
	}
	&-m {
		width: 80%;
	}
	&-s {
		width: 90%;
	}
}
