/*============================================*/
/*                Color Variables             */
/*============================================*/

$main-bg-color: #f5f5f6;
$main-theme-color: #38ada9;
$picked-date-background: $main-theme-color;
/* @dark-bg-color: #007d7a; */
$dark-bg-color: rgba(0, 0, 0, 0.2);
$month-year-color: #818181;
$inactive-white-color: rgba(255, 255, 255, 0.8);
$active-white-color: rgb(255, 255, 255);
$inactive-black-color: rgba(0, 0, 0, 0.8);
$active-black-color: rgb(0, 0, 0);
$inactive-date-color: rgb(190, 190, 190);
$inactive-picked-bg: #0e837d94;
$danger-button-color: #e65151;
// $inactive-picked-date-bg: #0799924b;
