/*============================================*/
/*                   Mixins                   */
/*============================================*/

@mixin for-desktop {
	@media (min-width: $bkp-mobile) {
		@content;
	}
}

@mixin font-size-clamp-polyfill($min, $middle, $max) {
	$display-min: $max * 100 / $middle;

	$display-max: $min * 100 / $middle;

	@supports not (font-size: clamp(#{$min}, #{$middle}vw, #{$max})) {
		font-size: #{$middle}vw;

		@media (max-width: $display-max) {
			font-size: $min;
		}

		@media (min-width: $display-min) {
			font-size: $max;
		}
	}

	@supports (font-size: clamp(#{$min}, #{$middle}vw, #{$max})) {
		font-size: clamp(#{$min}, #{$middle}vw, #{$max});
	}
}
