/*============================================*/
/*                 Transitions                */
/*============================================*/

@keyframes slide-left {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-0.5em);
	}
}
@keyframes slide-right {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(0.5em);
	}
}

@mixin slide($left: true) {
	@if $left {
		animation: slide-left 0.2s linear;
	} @else {
		animation: slide-right 0.2s linear;
	}
}
// @mixin basic-transition(
// 	$properties: (
// 		all
// 	),
// 	$duration: $transition-duration,
// 	$delay: null,
// 	$easing: $easing
// ) {
// 	$value: null;

// 	@each $prop in $properties {
// 		$prop-value: append((), $prop, space);
// 		$prop-value: append($prop-value, $duration, space);

// 		@if $delay != null {
// 			$prop-value: append($prop-value, $delay, space);
// 		}

// 		$prop-value: append($prop-value, $easing, space);

// 		$value: append($value, $prop-value, comma);
// 	}

// 	transition: $value;
// }
